<% if user_signed_in? %>
<p id="intro">
	Hello <%= current_user.email %>

<br />
<span>Share your Inspiration and see what's inspire others...</span></p>
<% else %>
<p id="intro">
What's your Face...
<br />
<span>Share your Inspiration and see what's inspire others...</span>
<% end %>
</p>
<p id="notice"><%= notice %></p>

<div id="posts">
    <% @posts.each do |post| %>
    <div class="post">
    	<div class="post_image">
      	<%= link_to image_tag post.image.url(:small) %>
      </div>
      <div class="post_content">
      	<div class="title">
        <h1><%= link_to post.title, post %></h1>
      </div>
      <div class="data clearfix">
      	<p class="username">Shared By <%= post.user.email %></p>
      	<p class="buttons">
      	<span><i class="fa fa-comments-o" aria-hidden="true"><%= post.comments.count %></i></span>
        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"><%= post.get_likes.size %></i></span>
  </p>
</div>
</div>
</div>
<% end %>
</div>

        
        

        


